<h1>Estudo Bases de Dados</h1>

In [107]:
import pandas as pd
import numpy as np
import folium

In [108]:
data_path = '../data/'

In [109]:
def plota_latlong(map_object,coord):
    folium.Marker(coord,icon=folium.Icon(icon='circle')).add_to(map_object)

## Dados de ocorrência de incêndios

In [110]:
df_fire_rt = pd.read_csv(data_path+'fire_realtime_M6_157591.csv')

In [111]:
df_fire_arq = pd.read_csv(data_path+'fire_archive_M6_157591.csv')

In [112]:
df_fire_rt.columns

Index(['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_t31', 'frp', 'daynight'],
      dtype='object')

In [113]:
m = folium.Map(
    zoom_start=12,
    tiles='Stamen Terrain'
)

In [114]:
for lat,long in df_fire_rt.head(1000)[['latitude','longitude']].values:
    plota_latlong(m,[lat,long])

In [115]:
for data in df_fire_rt.acq_date.unique():
    if data in leituras.stime.str[:10].values:
        print(data)

In [116]:
df_fire_rt.acq_date = pd.to_datetime(df_fire_rt.acq_date)

In [117]:
df_fire_rt[['latitude','longitude']]

        latitude  longitude
0         -6.381    -43.699
1         -5.273    -37.393
2         -3.595    -38.865
3        -18.762    -57.620
4        -18.770    -57.612
...          ...        ...
241718   -10.814    -69.652
241719   -10.803    -69.641
241720   -10.804    -69.653
241721   -10.786    -69.594
241722   -10.787    -69.606

[241723 rows x 2 columns]

In [118]:
print(df_fire_rt.acq_date.min(), df_fire_rt.acq_date.max())

2020-07-01 00:00:00 2020-10-03 00:00:00

In [119]:
df_fire_rt['latitude'] = df_fire_rt['latitude'].astype(str).str[:5]
df_fire_rt['longitude'] = df_fire_rt['longitude'].astype(str).str[:5]

In [120]:
# Criação da chave para merge com dados metereológicos
df_fire_rt["key"] = df_fire_rt['latitude'].astype(str) + df_fire_rt['longitude'].astype(str) + df_fire_rt['acq_date'].astype(str)
df_fire_rt["key_loc"] = df_fire_rt['latitude'].astype(str) + df_fire_rt['longitude'].astype(str)

In [121]:
print(df_fire_rt.latitude.max(), df_fire_rt.longitude.max())
print(df_fire_rt.latitude.min(), df_fire_rt.longitude.min())

4.941 -73.6
-0.09 -34.9

In [122]:
df_fire_rt

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,key,key_loc
0,-6.38,-43.6,300.6,2.8,1.6,2020-07-01,55,Terra,MODIS,31,6.0NRT,289.9,17.5,N,-6.38-43.62020-07-01,-6.38-43.6
1,-5.27,-37.3,316.4,1.0,1.0,2020-07-01,55,Terra,MODIS,93,6.0NRT,292.7,14.1,N,-5.27-37.32020-07-01,-5.27-37.3
2,-3.59,-38.8,301.9,1.1,1.1,2020-07-01,55,Terra,MODIS,21,6.0NRT,290.8,4.2,N,-3.59-38.82020-07-01,-3.59-38.8
3,-18.7,-57.6,368.7,1.0,1.0,2020-07-01,230,Terra,MODIS,100,6.0NRT,300.0,113.6,N,-18.7-57.62020-07-01,-18.7-57.6
4,-18.7,-57.6,327.5,1.0,1.0,2020-07-01,230,Terra,MODIS,80,6.0NRT,291.3,27.2,N,-18.7-57.62020-07-01,-18.7-57.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241718,-10.8,-69.6,327.9,1.3,1.1,2020-10-03,1805,Aqua,MODIS,82,6.0NRT,297.8,30.0,D,-10.8-69.62020-10-03,-10.8-69.6
241719,-10.8,-69.6,334.0,1.3,1.1,2020-10-03,1805,Aqua,MODIS,86,6.0NRT,296.9,41.8,D,-10.8-69.62020-10-03,-10.8-69.6
241720,-10.8,-69.6,352.4,1.3,1.1,2020-10-03,1805,Aqua,MODIS,96,6.0NRT,299.3,93.9,D,-10.8-69.62020-10-03,-10.8-69.6
241721,-10.7,-69.5,324.8,1.3,1.1,2020-10-03,1805,Aqua,MODIS,79,6.0NRT,296.6,23.7,D,-10.7-69.52020-10-03,-10.7-69.5
241722,-10.7,-69.6,342.1,1.3,1.1,2020-10-03,1805,Aqua,MODIS,91,6.0NRT,298.1,60.8,D,-10.7-69.62020-10-03,-10.7-69.6

In [123]:
df_fire_rt.groupby(["latitude","longitude"], as_index=False).head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,key,key_loc
0,-6.38,-43.6,300.6,2.8,1.6,2020-07-01,55,Terra,MODIS,31,6.0NRT,289.9,17.5,N,-6.38-43.62020-07-01,-6.38-43.6
1,-5.27,-37.3,316.4,1.0,1.0,2020-07-01,55,Terra,MODIS,93,6.0NRT,292.7,14.1,N,-5.27-37.32020-07-01,-5.27-37.3
2,-3.59,-38.8,301.9,1.1,1.1,2020-07-01,55,Terra,MODIS,21,6.0NRT,290.8,4.2,N,-3.59-38.82020-07-01,-3.59-38.8
3,-18.7,-57.6,368.7,1.0,1.0,2020-07-01,230,Terra,MODIS,100,6.0NRT,300.0,113.6,N,-18.7-57.62020-07-01,-18.7-57.6
4,-18.7,-57.6,327.5,1.0,1.0,2020-07-01,230,Terra,MODIS,80,6.0NRT,291.3,27.2,N,-18.7-57.62020-07-01,-18.7-57.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241705,-9.99,-64.2,362.0,1.1,1.1,2020-10-03,1805,Aqua,MODIS,100,6.0NRT,304.7,92.2,D,-9.99-64.22020-10-03,-9.99-64.2
241706,-9.87,-65.2,323.5,1.0,1.0,2020-10-03,1805,Aqua,MODIS,56,6.0NRT,298.5,11.0,D,-9.87-65.22020-10-03,-9.87-65.2
241708,-8.61,-70.1,312.2,1.4,1.2,2020-10-03,1805,Aqua,MODIS,51,6.0NRT,289.8,12.9,D,-8.61-70.12020-10-03,-8.61-70.1
241709,-8.61,-70.2,336.9,1.4,1.2,2020-10-03,1805,Aqua,MODIS,89,6.0NRT,293.0,57.4,D,-8.61-70.22020-10-03,-8.61-70.2
241710,-9.87,-65.2,324.2,1.0,1.0,2020-10-03,1805,Aqua,MODIS,60,6.0NRT,301.8,10.7,D,-9.87-65.22020-10-03,-9.87-65.2

## Dados metereológicos

In [195]:
df_ambiente = pd.read_csv(data_path+r'meteomatics/meteomatics_2020-07-01_P3MP1D_maxmin.csv',sep=';')

In [196]:
df_ambiente.columns

Index(['lat', 'lon', 'validdate', 't_2m:C', 'precip_1h:mm',
       'relative_humidity_2m:p', 'total_cloud_cover:p', 'wind_speed_10m:ms'],
      dtype='object')

In [198]:
df_ambiente.validdate = df_ambiente.validdate.astype(str).str[:10]

In [199]:
df_ambiente['lat'] = df_ambiente['lat'].astype(float)
df_ambiente['lon'] = df_ambiente['lon'].astype(float)

In [200]:
df_ambiente['lat'] = df_ambiente['lat'].apply(lambda x: round(x,2))
df_ambiente['lon'] = df_ambiente['lon'].apply(lambda x: round(x,2))

In [201]:
df_ambiente["key"] = df_ambiente['lat'].astype(str) + df_ambiente['lon'].astype(str) + df_ambiente['validdate'].astype(str)

In [202]:
df_ambiente.head()

,lat,lon,validdate,t_2m:C,precip_1h:mm,relative_humidity_2m:p,total_cloud_cover:p,wind_speed_10m:ms,key
0,4.94,-34.92,2020-07-01,26.1,0.47,85.7,93.4,5.9,4.94-34.922020-07-01
1,4.94,-34.92,2020-07-02,25.3,8.40,85.3,100.0,0.8,4.94-34.922020-07-02
2,4.94,-34.92,2020-07-03,26.1,0.00,84.0,85.9,3.1,4.94-34.922020-07-03
3,4.94,-34.92,2020-07-04,27.3,0.05,77.8,40.2,5.1,4.94-34.922020-07-04
4,4.94,-34.92,2020-07-05,27.5,0.08,78.8,32.2,7.1,4.94-34.922020-07-05

## Mesclando Datasets

In [156]:
df_fire_rt.dtypes

latitude              object
longitude             object
brightness           float64
scan                 float64
track                float64
acq_date      datetime64[ns]
acq_time               int64
satellite             object
instrument            object
confidence             int64
version               object
bright_t31           float64
frp                  float64
daynight              object
key                   object
key_loc               object
dtype: object

In [157]:
df_ambiente.dtypes

lat                        object
lon                        object
validdate                  object
t_2m:C                    float64
precip_1h:mm              float64
relative_humidity_2m:p    float64
total_cloud_cover:p       float64
wind_speed_10m:ms         float64
key                        object
dtype: object

In [168]:
def ocorreu_incendio(chave):
    if chave in df_fire_rt['key'].values:
        return 1
    else: return 0

In [171]:
df_fire_rt['key'].values

array(['-6.38-43.62020-07-01', '-5.27-37.32020-07-01',
       '-3.59-38.82020-07-01', ..., '-10.8-69.62020-10-03',
       '-10.7-69.52020-10-03', '-10.7-69.62020-10-03'], dtype=object)

In [170]:
df_fire_rt['key'].values[0]

'-6.38-43.62020-07-01'

In [187]:
df_ambiente['key'].apply(lambda x: ocorreu_incendio(str(x))).value_counts()

0    186
Name: key, dtype: int64

In [ ]:
df_ambiente

In [165]:
df_ambiente[['key']].join(df_ambiente[['key']],on='key',how='inner')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat